/* Общие стили для Carshop */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; /* Мягкий фоновый цвет */
    margin: 0;
    padding: 20px; /* Добавляем отступы */
}

h2 {
    color: #333; /* Цвет заголовка */
    text-align: center; /* Выравнивание текста по центру */
}

h3, h4 {
    color: #666; /* Более светлый цвет заголовков */
}

/* Стили для велосипедов и автомобилей */
div.bike, div.car {
    background-color: #fff; /* Белый фон для каждого элемента */
    border-radius: 10px; /* Закругленные углы */
    padding: 10px; /* Внутренние отступы */
    margin: 10px 0; /* Внешние отступы между элементами */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Легкая тень для эффекта глубины */
}

img {
    max-width: 100%; /* Адаптивная ширина изображений */
    height: auto; /* Автоматическая высота */
    border-radius: 10px; /* Закругленные углы изображений */
}

/* Стили для элементов велосипеда */
.bike-info {
    font-size: 16px; /* Размер шрифта */
    color: #444; /* Цвет текста */
    line-height: 1.5; /* Высота строки для удобочитаемости */
}